html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

#map {
  height: 40%; }

.logo {
  margin-top: 10%; }

.drop-box {
  width: 150px;
  height: 150px;
  border: 1px solid #000; }

.usersNames {
  color: black;
  margin-left: 10%; }

.userDisplay:hover {
  background-color: grey;
  text-decoration: none; }

.feedInfo {
  color: black;
  font-size: 120%;
  right: 0; }

.userDisplay {
  width: 300px;
  vertical-align: top; }

.imgalighn {
  margin-left: 10px; }

.userDisplay {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px 4px 4px 4px; }

.pencilEdit {
  display: inline-block;
  background-color: none;
  margin-top: -12px;
  margin-left: 10px; }

.selectBusiness:hover {
  text-decoration: none; }

.favoriteBusinesses {
  display: inline-block;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  width: 250px;
  height: 220px; }

.postArea {
  width: 65%;
  margin: 0 auto;
  margin-top: 5%; }

.favoriteBusinesses:hover {
  background-color: #e6e6e6; }

.profName {
  display: inline-block; }

.navbar-brand > img {
  display: block;
  margin-top: -20px; }

.pictureCont {
  display: inline-block; }

.right {
  text-align: right; }

.address {
  padding-left: 20px;
  padding-top: 20px; }

.inLB {
  display: inline-block; }
