<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Single View</title>
</head>
<body ng-app='myApp' ng-controller='showbusinessCtrl'>
<h1>{{business.name}} <img src="{{business.rating_img_url}}">

<button class="btn btn-primary" ng-click = 'favorite($index)' ng-if= "!singletoggleFave && showButton">Favorite</button>
<button class="btn btn-danger" ng-click = 'unFavorite($index)' ng-if= "singletoggleFave && showButton" >UnFavorte</button>
</h1>

<span class='inLB'><img src="{{business.image_url}}"></span>
<span class='inLB address'>
  <h4>{{business.location.display_address[0]}}</h4>
  <h4>{{business.location.display_address[1]}}</h4>
  <h4>{{business.location.display_address[2]}}</h4>
</span>
<hr>
<h4> Phone: {{business.display_phone}}</h4>

<hr>

<h5>Reviews:</h5>
<img src="{{business.reviews[0].rating_image_url}}">
<br>
<blockquote class="blockquote">
  <p class="m-b-0">{{business.reviews[0].excerpt}}</p>
  <footer class="blockquote-footer">{{business.reviews[0].user.name}}</footer>
</blockquote>

<!--<h1>Map</h1>

<div id="map"></div>
 Replace the value of the key parameter with your own API key. 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc_bx2XT9tclllgIQ3K-ijgRpw8At_TA8&callback=initMap" async defer></script>
<hr>

 <pre>{{business | json}}</pre>-->

</body>
</html>